*
  box-sizing: border-box

html
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #f1f1f1

body
  margin: 0

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.router-container
  margin: 5px
  padding: 5px

button, input, select, label
  font-family: 'Open Sans', sans-serif